[submodule "core/class/database"]
	path = core/class/database
	url = git@github.com:ershov-ilya/database-class.git
[submodule "core/class/payments/robokassa"]
	path = core/class/payments/robokassa
	url = git@github.com:ershov-ilya/robokassa-class.git
